.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 375px) {
  .container {
    max-width: 316px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Akrobat", sans-serif;
}

.hero {
  background-image: url(../img/buy_heo.png);
  background-size: cover;
}
@media only screen and (max-width: 375px) {
  .hero {
    background-image: url(../img/buy_navbar_mobile.png);
  }
}

.burger {
  display: none;
}
@media only screen and (max-width: 375px) {
  .burger {
    display: block;
  }
}

.mob {
  display: none;
}
@media only screen and (max-width: 375px) {
  .mob {
    display: block;
  }
}

.navb-white {
  background-color: #fff;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.nav-transparent {
  background-color: transparent;
}

.navbar {
  display: flex;
  align-items: center;
  padding-top: 46px;
  justify-content: space-between;
}
@media only screen and (max-width: 375px) {
  .navbar {
    padding-top: 29px;
  }
}
@media only screen and (max-width: 375px) {
  .navbar__left img {
    height: 49px;
  }
}
.navbar__middle {
  font-size: 19px;
  max-width: 702px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 375px) {
  .navbar__middle {
    display: none;
  }
}
.navbar__middle-link {
  text-decoration: none;
  color: #fff;
}
.navbar__middle-link::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #fff;
  transition: width 0.3s;
  margin-top: 3px;
}
.navbar__middle-link:hover::after {
  width: 100%;
}
@media only screen and (max-width: 375px) {
  .navbar__right {
    display: none;
  }
}
.navbar__right a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  font-family: "Akrobat Bold", sans-serif;
  letter-spacing: 2px;
}

.activeLink {
  border-bottom: 1px solid #fff;
}

.main {
  font-size: 74px;
  font-family: "Akrobat ExtraBold", sans-serif;
  font-weight: bold;
  color: #fff;
  padding-bottom: 150px;
}
@media only screen and (max-width: 375px) {
  .main {
    padding-bottom: 64px;
  }
}
.main .text {
  position: relative;
  padding-top: 420px;
}
@media only screen and (max-width: 375px) {
  .main .text {
    padding-top: 40px;
  }
}
.main .text .heroLogo {
  position: absolute;
  top: -80px;
}
.main__title {
  text-transform: uppercase;
  margin-left: 100px;
  letter-spacing: 4px;
  max-width: 940px;
  width: 100%;
}
@media only screen and (max-width: 375px) {
  .main__title {
    font-size: 30px;
    margin-left: 0;
    letter-spacing: 0;
    width: unset;
  }
}
.main__subtitle {
  color: rgb(255, 255, 255);
  font-size: 26px;
  font-family: "Akrobat", sans-serif;
  margin-left: 100px;
  margin-top: 20px;
  letter-spacing: 1px;
  max-width: 540px;
  width: 100%;
  padding-right: 20px;
}
@media only screen and (max-width: 375px) {
  .main__subtitle {
    font-family: "Akrobat Bold", sans-serif;
    font-size: 23px;
    margin-left: 0;
    margin-top: 12px;
    letter-spacing: 0;
  }
}

.heroMobile {
  display: none;
}
@media only screen and (max-width: 375px) {
  .heroMobile {
    display: block;
    margin-bottom: -10px;
  }
}

.instalmentSection {
  background-image: url(../img/instalment.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
@media only screen and (max-width: 375px) {
  .instalmentSection {
    background-image: none;
  }
}
.instalmentSection .instalmentImage {
  display: none;
}
@media only screen and (max-width: 375px) {
  .instalmentSection .instalmentImage {
    display: block;
  }
}
.instalmentSection .instalment__left-title {
  font-size: 74px;
  font-family: "Akrobat ExtraBold", sans-serif;
  font-weight: bold;
  color: rgb(51, 51, 51);
  padding-top: 266px;
  padding-bottom: 16px;
  text-transform: uppercase;
  margin-left: 100px;
  width: 100%;
}
@media only screen and (max-width: 375px) {
  .instalmentSection .instalment__left-title {
    font-size: 30px;
    margin-left: 0;
    letter-spacing: 0;
    width: unset;
    padding-top: 60px;
  }
}
.instalmentSection .instalment__left-subtitle {
  max-width: 436px;
  width: 100%;
  color: rgb(51, 51, 51);
  font-size: 30px;
  margin-left: 100px;
  padding-bottom: 312px;
}
@media only screen and (max-width: 375px) {
  .instalmentSection .instalment__left-subtitle {
    font-family: "Akrobat Bold", sans-serif;
    font-size: 23px;
    margin-left: 0;
    margin-top: 18px;
    letter-spacing: 0;
    padding-bottom: 0;
  }
}

.ipotekaSection {
  background-image: url(../img/ipotekaBckg.png);
  margin-top: -135px;
}
@media only screen and (max-width: 375px) {
  .ipotekaSection {
    margin-top: 0;
  }
}
.ipotekaSection .ipoteka__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
}
@media only screen and (max-width: 375px) {
  .ipotekaSection .ipoteka__top {
    padding-top: 60px;
    flex-direction: column;
  }
}
.ipotekaSection .ipoteka__top-left .ipotekaTitle {
  font-size: 74px;
  font-family: "Akrobat ExtraBold", sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin-left: 100px;
  width: 100%;
}
@media only screen and (max-width: 375px) {
  .ipotekaSection .ipoteka__top-left .ipotekaTitle {
    font-size: 30px;
    margin-left: 0;
    letter-spacing: 0;
    width: unset;
  }
}
.ipotekaSection .ipoteka__top-left .ipotekaSubtitle {
  font-size: 35px;
  line-height: 42px;
  color: rgb(255, 255, 255);
  padding-top: 40px;
  margin-left: 100px;
}
@media only screen and (max-width: 375px) {
  .ipotekaSection .ipoteka__top-left .ipotekaSubtitle {
    font-family: "Akrobat Bold", sans-serif;
    font-size: 23px;
    margin-left: 0;
    margin-top: 12px;
    letter-spacing: 0;
    padding-bottom: 0;
    padding-top: 0;
  }
}
.ipotekaSection .ipoteka__top-left .lists {
  margin-left: 100px;
  font-family: "Akrobat", sans-serif;
  font-weight: 500;
  padding-top: 33px;
}
@media only screen and (max-width: 375px) {
  .ipotekaSection .ipoteka__top-left .lists {
    padding-top: 22px;
    margin-left: 0;
    font-weight: 400;
  }
}
.ipotekaSection .ipoteka__top-left .lists .list {
  font-size: 25px;
  color: rgb(255, 255, 255);
  line-height: 35px;
  padding-bottom: 29px;
}
@media only screen and (max-width: 375px) {
  .ipotekaSection .ipoteka__top-left .lists .list {
    font-size: 18px;
    line-height: unset;
    padding-bottom: 15px;
  }
}
.ipotekaSection .ipoteka__top-left .lists .list .circle {
  margin-bottom: 4px;
  margin-right: 8px;
}
.ipotekaSection .ipoteka__top-left .ipotekaSecondTitle {
  font-size: 74px;
  font-weight: 800;
  font-family: "Akrobat ExtraBold", sans-serif;
  line-height: 88.8px;
  color: rgb(255, 255, 255);
  margin-left: 100px;
  width: 642px;
}
@media only screen and (max-width: 375px) {
  .ipotekaSection .ipoteka__top-left .ipotekaSecondTitle {
    font-size: 27px;
    line-height: unset;
    margin-left: 0;
    letter-spacing: 0;
    width: unset;
    font-family: "Akrobat ", sans-serif;
    font-weight: 600;
  }
}
.ipotekaSection .ipoteka__top-left .ipotekaImageMobile {
  display: none;
}
@media only screen and (max-width: 375px) {
  .ipotekaSection .ipoteka__top-left .ipotekaImageMobile {
    display: block;
    height: 300px;
    margin-top: 32px;
    margin-bottom: 69px;
  }
}
@media only screen and (max-width: 375px) {
  .ipotekaSection .ipoteka__top-right {
    display: none;
  }
}
.ipotekaSection .ipoteka__bottom {
  margin: 0 auto;
  margin-top: 76px;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  padding-bottom: 40px;
}
@media only screen and (max-width: 375px) {
  .ipotekaSection .ipoteka__bottom {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 26px;
  }
}
.ipotekaSection .ipoteka__bottom .banks {
  transition: all 0.3s;
}
@media only screen and (max-width: 375px) {
  .ipotekaSection .ipoteka__bottom .banks img {
    height: 86px;
    margin-bottom: 13px;
  }
}
.ipotekaSection .ipoteka__bottom .banks:hover {
  transform: scale(1.1);
}

.footer {
  display: flex;
  background-image: url(../img/footer.png);
  background-repeat: no-repeat;
  padding-bottom: 45px;
}
@media only screen and (max-width: 375px) {
  .footer {
    flex-direction: column;
    background-image: none;
    background-color: #414650;
  }
}
.footer__info {
  margin-left: 355px;
  padding-top: 100px;
}
@media only screen and (max-width: 375px) {
  .footer__info {
    margin-left: 0;
    max-width: 337px;
    width: 100%;
    margin: 0 auto;
    padding-top: 50px;
  }
}
.footer__info-contacts {
  font-size: 74px;
  font-weight: 800;
  font-family: "Akrobat ExtraBold", sans-serif;
  line-height: 88.8px;
  color: rgb(255, 255, 255);
  padding-bottom: 43px;
}
@media only screen and (max-width: 375px) {
  .footer__info-contacts {
    font-size: 30px;
    padding-bottom: 0;
    margin-left: 0;
    letter-spacing: 0;
    width: unset;
  }
}
.footer__info-location {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-family: "Akrobat", sans-serif;
  font-size: 23px;
  line-height: 27.6px;
  text-decoration: none;
}
@media only screen and (max-width: 375px) {
  .footer__info-location {
    line-height: unset;
    font-weight: 400;
  }
}
.footer__info-number {
  color: rgb(255, 255, 255);
  font-size: 32.34px;
  line-height: 39px;
  font-weight: 700;
  font-family: "Akrobat", sans-serif;
  padding-bottom: 51px;
  padding: 15px;
}
@media only screen and (max-width: 375px) {
  .footer__info-number {
    font-weight: 600;
    padding: 0;
    padding-top: 15px;
  }
}
.footer__info-download {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 60px;
}
.footer__info-download img {
  margin-bottom: 0;
  margin-right: 10px;
}
.footer__info-download a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.footer__info-download a span {
  border-bottom: 1px solid #fff;
}
.footer__info-button {
  font-size: 18px;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  padding: 22px 69px;
  background-color: unset;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 187px;
}
.footer__info-button:hover {
  color: rgb(51, 51, 51);
  background-color: rgb(255, 255, 255);
}
@media only screen and (max-width: 375px) {
  .footer__info-button {
    display: none;
  }
}
.footer__info-sub {
  font-size: 16px;
  color: rgb(255, 255, 255);
  margin-bottom: 19px;
}